@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');
@import 'reset.css';
@import 'common.css';

h1 {
  font-size: 50px;
}

/* Icon section */
.icon-main-title {
  text-align: center;
}
.icon-container-flex {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.icon-card {
  text-align: center;
  flex-basis: 28%;
  flex-grow: 1;
}
